<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <import resource="classpath:applicationContext-dao.xml" />
    <import resource="classpath:applicationContext-service.xml" />

    <import resource="classpath:applicationContext-validation.xml" />
    <import resource="classpath:applicationContext-captcha.xml" />
    <!-- Configures External Property & Shared Data Access Resolution -->
    <import resource="classpath:applicationContext-resources.xml" />
 	<import resource="classpath:applicationContext-resources-cas.xml" />
 	<import resource="classpath:applicationContext-security.xml" />
    <import resource="classpath:applicationContext-controllers.xml" />
 
    <import resource="cxf-servlet.xml" />
 
    <!-- Configures Spring Social -->
    <bean class="com.ammob.passport.webapp.config.SocialConfig" />
</beans>
