验证码 : ${message}

亲爱的 ${user.username} : 恭喜您成功注册 766.com 通行证，请点击下面的连接来激活您的邮箱 (点击以下地址或者手工粘贴到浏览器地址栏再访问)

----------------------------------------------------------------------------------------------
${applicationURL}
----------------------------------------------------------------------------------------------