${message}

账户 : ${user.username}

密码 : ${user.password}

请点击下面的连接来激活您的邮箱 (点击以下地址或者手工粘贴到浏览器地址栏再访问)

----------------------------------------------------------------------------------------------
${applicationURL}
----------------------------------------------------------------------------------------------