<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">
		
    <bean id="noRedirectHttpClient" class="org.jasig.cas.util.HttpClient" parent="httpClient"
          p:followRedirects="false" />
    
    <aop:aspectj-autoproxy />
    <bean id="servicesManager" class="org.jasig.cas.services.DefaultServicesManagerImpl" >
        <constructor-arg index="0" ref="serviceRegistryDao" />
    </bean>
    <!-- Declare the TimingAspect that we want to weave into the other beans defined. -->
    <bean id="timingAspect" class="org.perf4j.log4j.aop.TimingAspect" />
    <!-- Job to periodically reload services from service registry. This job is needed for a clustered CAS environment since 
        service changes in one CAS node are not known to the other until a reload. -->
    <bean id="serviceRegistryReloaderJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"
        p:targetObject-ref="servicesManager" p:targetMethod="reload" />
    <bean id="periodicServiceRegistryReloaderTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean"
        p:jobDetail-ref="serviceRegistryReloaderJobDetail" p:startDelay="${service.registry.quartz.reloader.startDelay:120000}"
        p:repeatInterval="${service.registry.quartz.reloader.repeatInterval:120000}"/>
    <bean id="persistentIdGenerator" class="org.jasig.cas.authentication.principal.ShibbolethCompatiblePersistentIdGenerator" p:salt="casrocks" />
    <!-- CentralAuthenticationService -->
    <bean id="centralAuthenticationService" class="org.jasig.cas.CentralAuthenticationServiceImpl"
        p:ticketGrantingTicketExpirationPolicy-ref="grantingTicketExpirationPolicy" p:serviceTicketExpirationPolicy-ref="serviceTicketExpirationPolicy"
        p:authenticationManager-ref="authenticationManager" p:ticketGrantingTicketUniqueTicketIdGenerator-ref="ticketGrantingTicketUniqueIdGenerator"
        p:ticketRegistry-ref="ticketRegistry" p:servicesManager-ref="servicesManager" p:persistentIdGenerator-ref="persistentIdGenerator"
        p:uniqueTicketIdGeneratorsForService-ref="uniqueIdGeneratorsMap" />
    <bean id="proxy10Handler" class="org.jasig.cas.ticket.proxy.support.Cas10ProxyHandler" />
    <bean id="proxy20Handler" class="org.jasig.cas.ticket.proxy.support.Cas20ProxyHandler" p:httpClient-ref="httpClient"
        p:uniqueTicketIdGenerator-ref="proxy20TicketUniqueIdGenerator" />
    <!-- ADVISORS -->
    <bean id="advisorAutoProxyCreator" class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />
    <bean id="validationAnnotationBeanPostProcessor" class="org.jasig.cas.util.CustomBeanValidationPostProcessor" p:afterInitialization="true" />
    <!-- The scheduler bean wires up any triggers that define scheduled tasks -->
    <bean id="scheduler" class="com.ammob.passport.webapp.spring.AutowiringSchedulerFactoryBean" />
    <!-- Spring-Json View provides a JsonExceptionResolver exceptions thrown during a controller action -->
    <bean id="jsonExceptionResolver" class="org.springframework.web.servlet.view.json.exception.JsonExceptionResolver">
        <property name="exceptionView" value="jsonView" />
        <property name="errorHandler">
	        <list>
	        	<bean class="org.springframework.web.servlet.view.json.error.HttpStatusError" p:errorCode="412"/>
	            <bean class="org.springframework.web.servlet.view.json.error.ModelFlagError"/>
	        </list>
        </property>
        <property name="exceptionHandler">
	        <list>
	        	<bean class="org.springframework.web.servlet.view.json.exception.ExceptionMessageExceptionHandler" />
	            <bean class="org.springframework.web.servlet.view.json.exception.StackTraceExceptionHandler" />
	        </list>
        </property>
    </bean>
    
    <!-- ********************************************** argumentExtractorsConfiguration.xml ********************************************** -->
    <bean id="casArgumentExtractor" class="org.jasig.cas.web.support.CasArgumentExtractor" p:httpClient-ref="noRedirectHttpClient" p:disableSingleSignOut="${slo.callbacks.disabled:false}" />
    <bean id="samlArgumentExtractor" class="org.jasig.cas.web.support.SamlArgumentExtractor" p:httpClient-ref="noRedirectHttpClient" p:disableSingleSignOut="${slo.callbacks.disabled:false}" />
    <util:list id="argumentExtractors">
        <ref bean="casArgumentExtractor" />
        <ref bean="samlArgumentExtractor" />
    </util:list>

    <!-- ********************************************** ticketExpirationPolicies.xml ********************************************** -->
    <!-- Expiration policies -->
    <util:constant id="SECONDS" static-field="java.util.concurrent.TimeUnit.SECONDS"/>
    <bean id="serviceTicketExpirationPolicy" class="org.jasig.cas.ticket.support.MultiTimeUseOrTimeoutExpirationPolicy"
          c:numberOfUses="5" c:timeToKill="${st.timeToKillInSeconds:60}" c:timeUnit-ref="SECONDS"/>

	<bean id="grantingTicketExpirationPolicy" class="org.jasig.cas.ticket.support.RememberMeDelegatingExpirationPolicy">
		<property name="sessionExpirationPolicy">
			<bean class="org.jasig.cas.ticket.support.TimeoutExpirationPolicy" c:timeToKillInMilliSeconds="${tgt.timeToKillInSeconds:7200000}" /><!-- 2 Hour -->
		</property>
		<property name="rememberMeExpirationPolicy">
			<bean class="org.jasig.cas.ticket.support.TimeoutExpirationPolicy" c:timeToKillInMilliSeconds="${tgt.timeToKillInSeconds:604800000}" /><!-- 7 Days -->
		</property>
    </bean>

    <!-- ********************************************** ticketGrantingTicketCookieGenerator.xml ********************************************** -->
    <bean id="ticketGrantingTicketCookieGenerator" class="org.jasig.cas.web.support.CookieRetrievingCookieGenerator" p:cookieDomain="${cas.cookise.domainname}"
        p:cookieSecure="false" p:cookieMaxAge="-1" p:cookieName="AuthTGC" p:cookiePath="/" />

    <!-- ********************************************** ticketRegistry.xml ********************************************** -->
	<!-- Ticket Registry -->
	<!-- <bean id="ticketRegistry" class="org.jasig.cas.ticket.registry.MemCacheTicketRegistry">
        <constructor-arg index="0">
            <list>
                <value>120.33.33.197:12001</value>
            </list>
        </constructor-arg>
        <constructor-arg index="1" type="int" value="604800" />
        <constructor-arg index="2" type="int" value="300" />
    </bean> -->
	<bean id="ticketRegistry" class="org.jasig.cas.ticket.registry.JpaTicketRegistry" />
    <!--Quartz -->
    <!-- TICKET REGISTRY CLEANER --> 
    <!-- <bean id="ticketRegistryCleaner" class="org.jasig.cas.ticket.registry.support.DefaultTicketRegistryCleaner" p:ticketRegistry-ref="ticketRegistry" p:lock-ref="cleanerLock" />
	<bean id="cleanerLock" class="org.jasig.cas.ticket.registry.support.JpaLockingStrategy" p:uniqueId="${host.name}" p:applicationId="cas-ticket-registry-cleaner" />
	<bean id="ticketRegistryCleanerJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"
		p:targetObject-ref="ticketRegistryCleaner" p:targetMethod="clean" />
	<bean id="periodicTicketRegistryCleanerTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean" p:jobDetail-ref="ticketRegistryCleanerJobDetail" 
	    p:startDelay="20000" p:repeatInterval="1800000" />-->

    <!-- ********************************************** uniqueIdGenerators.xml ********************************************** -->
    <!-- ID Generators -->
    <bean id="ticketGrantingTicketUniqueIdGenerator" class="org.jasig.cas.util.DefaultUniqueTicketIdGenerator">
        <constructor-arg index="0" type="int" value="50" />
        <constructor-arg index="1" value="${host.name}" />
    </bean>

    <bean id="serviceTicketUniqueIdGenerator" class="org.jasig.cas.util.DefaultUniqueTicketIdGenerator">
        <constructor-arg index="0" type="int" value="20" />
        <constructor-arg index="1" value="${host.name}" />
    </bean>

    <bean id="loginTicketUniqueIdGenerator" class="org.jasig.cas.util.DefaultUniqueTicketIdGenerator">
        <constructor-arg index="0" type="int" value="30" />
    </bean>

    <bean id="proxy20TicketUniqueIdGenerator" class="org.jasig.cas.util.DefaultUniqueTicketIdGenerator">
        <constructor-arg index="0" type="int" value="20" />
        <constructor-arg index="1" value="${host.name}" />
    </bean>

    <bean id="samlServiceTicketUniqueIdGenerator" class="org.jasig.cas.util.SamlCompliantUniqueTicketIdGenerator">
        <constructor-arg index="0" value="https://localhost:8443" />
    </bean>

    <util:map id="uniqueIdGeneratorsMap">
        <entry key="org.jasig.cas.authentication.principal.SimpleWebApplicationServiceImpl" value-ref="serviceTicketUniqueIdGenerator" />
        <entry key="org.jasig.cas.authentication.principal.SamlService" value-ref="samlServiceTicketUniqueIdGenerator" />
        <entry key="org.jasig.cas.authentication.principal.GoogleAccountsService" value-ref="serviceTicketUniqueIdGenerator" />
    </util:map>
    
    <!-- ********************************************** warnCookieGenerator.xml ********************************************** -->
    <bean id="warnCookieGenerator" class="org.jasig.cas.web.support.CookieRetrievingCookieGenerator"
        p:cookieSecure="false"
        p:cookieMaxAge="-1"
        p:cookieName="AuthPrivacy"
        p:cookiePath="/" />

    <!-- ********************************************** deployerConfigContext.xml ********************************************** -->
    <bean id="authenticationManager" class="org.jasig.cas.authentication.AuthenticationManagerImpl">
        <property name="credentialsToPrincipalResolvers">
            <list>
                <bean class="org.jasig.cas.authentication.principal.HttpBasedServiceCredentialsToPrincipalResolver" />
                <bean class="org.jasig.cas.authentication.principal.CredentialsToLDAPAttributePrincipalResolver" >
                    <property name="credentialsToPrincipalResolver">
                        <bean class="org.jasig.cas.authentication.principal.UsernamePasswordCredentialsToPrincipalResolver" />
                    </property>
                    <property name="filter" value="(|(mail=%u)(cn=%u))" />
                    <property name="principalAttributeName" value="cn" />
                    <property name="searchBase" value="${ldap.users.search.dn}" />
                    <property name="contextSource" ref="contextSource" />
                    <property name="attributeRepository" ref="personAttributeRepository" />
                </bean>
                <bean class="org.jasig.cas.support.oauth.authentication.principal.OAuthCredentialsToPrincipalResolver" />
            </list>
        </property>
        <property name="authenticationHandlers">
            <list>
                <bean class="org.jasig.cas.authentication.handler.support.HttpBasedServiceCredentialsAuthenticationHandler" p:httpClient-ref="httpClient" />
				<bean class="org.jasig.cas.adaptors.ldap.BindLdapAuthenticationHandler" 
				        p:filter="(|(mail=%u)(cn=%u))" p:searchBase="${ldap.users.search.dn}" p:contextSource-ref="contextSource" 
				        p:searchContextSource-ref="pooledContextSource" p:ignorePartialResultException="yes">
					<property name="ldapErrorDefinitions">
						<list>
							<bean class="org.jasig.cas.adaptors.ldap.LdapErrorDefinition" p:ldapPattern="data 530" p:type="badHours" />
							<bean class="org.jasig.cas.adaptors.ldap.LdapErrorDefinition" p:ldapPattern="data 533" p:type="accountDisabled" />
							<bean class="org.jasig.cas.adaptors.ldap.LdapErrorDefinition" p:ldapPattern="data 773" p:type="mustChangePassword" />
							<bean class="org.jasig.cas.adaptors.ldap.LdapErrorDefinition" p:ldapPattern="data 775" p:type="accountLocked" />
							<bean class="org.jasig.cas.adaptors.ldap.LdapErrorDefinition" p:ldapPattern="data 531" p:type="badWorkstation" />
							<bean class="org.jasig.cas.adaptors.ldap.LdapErrorDefinition" p:ldapPattern="data (701|532)" p:type="passwordExpired" />
						</list>
					</property>
				</bean>
                <bean class="com.ammob.passport.authentication.handler.CustomAuthenticationHandler" />
                <bean class="org.jasig.cas.support.oauth.authentication.handler.support.OAuthAuthenticationHandler">
			       <property name="configuration" ref="oauthConfig" />
			    </bean>
            </list>
        </property>
		<property name="authenticationMetaDataPopulators">
			<list>
				<bean class="org.jasig.cas.authentication.SamlAuthenticationMetaDataPopulator" />
			    <bean class="org.jasig.cas.authentication.principal.RememberMeAuthenticationMetaDataPopulator" />
			    <bean class="org.jasig.cas.support.oauth.authentication.OAuthAuthenticationMetaDataPopulator" />
			</list>
		</property>
    </bean>

    <bean id="serviceRegistryDao" class="org.jasig.cas.services.InMemoryServiceRegistryDaoImpl">
        <property name="registeredServices">
            <list>
                    <bean class="org.jasig.cas.services.RegexRegisteredService">
                        <property name="id" value="0" />
                        <property name="name" value="HTTP and IMAP" />
                        <property name="description" value="Allows HTTP(S) and IMAP(S) protocols" />
                        <property name="serviceId" value="^(https?|imaps?)://([A-Za-z0-9_-]+\.)*766\.com/.*" />
                        <property name="evaluationOrder" value="10000001" />
                        <property name="allowedAttributes">
						    <list>
				                <value>username</value>
				                <value>password</value>
				                <value>firstName</value>
				                <value>lastName</value>
				                <value>displayName</value>
				                <value>description</value>
				                <value>avataUrl</value>
				                <value>email</value>
				                <value>state</value>
				                <value>phoneNumber</value>
				                <value>uuid</value>
				                <value>authorities</value>
				                <value>identity</value>
				                <value>regTime</value>
				                <value>address.country</value>
				                <value>address.province</value>
				                <value>address.city</value>
				                <value>address.postalAddress</value>
				                <value>address.postalCode</value>
						    </list>             
					    </property>
                    </bean>
            </list>
        </property>
    </bean>
	<bean id="healthCheckMonitor" class="org.jasig.cas.monitor.HealthCheckMonitor">
		<property name="monitors">
			<list>
				<bean class="org.jasig.cas.monitor.MemoryMonitor"
					p:freeMemoryWarnThreshold="10" />
				<!-- NOTE The following ticket registries support SessionMonitor: * DefaultTicketRegistry 
					* JpaTicketRegistry Remove this monitor if you use an unsupported registry. -->
				<!-- <bean class="org.jasig.cas.monitor.SessionMonitor"
					p:ticketRegistry-ref="ticketRegistry"
					p:serviceTicketCountWarnThreshold="5000"
					p:sessionCountWarnThreshold="100000" /> -->
			</list>
		</property>
	</bean>

	<bean id="facebook1" class="org.scribe.up.provider.impl.FacebookProvider">
	  <property name="key" value="${facebook.clientId}" />
	  <property name="secret" value="${facebook.clientSecret}" />
	</bean>
	
    <bean id="sinaWeibo" class="com.ammob.passport.oauth.profile.weibo.WeiboProvider">  
		<property name="key" value="${weibo.consumerKey}" />  
		<property name="secret" value="${weibo.consumerSecret}" />  
    </bean>
    
	<bean id="oauthConfig" class="org.jasig.cas.support.oauth.OAuthConfiguration">
	  <property name="loginUrl" value="${cas.securityContext.casProcessingFilterEntryPoint.loginUrl}" />
	  <property name="providers">
	    <list>
	      <ref bean="facebook1" />
	      <ref bean="sinaWeibo" />
	    </list>
	  </property>
	 </bean>
	 
	 <bean id="oauthAction" class="org.jasig.cas.support.oauth.web.flow.OAuthAction" >
        <property name="centralAuthenticationService" ref="centralAuthenticationService" />
        <property name="configuration" ref="oauthConfig" />
    </bean>
</beans>