${message}

亲爱的 ${user.username} : 您提交的取回密码请求已成功，请点击下面的连接来继续您的请求 (点击以下地址或者手工粘贴到浏览器地址栏再访问)

----------------------------------------------------------------------------------------------
${applicationURL}
----------------------------------------------------------------------------------------------